@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --link-key-background: #eee;
  --link-key-color: #333;
  --favicon-color: blue;
  --title-font-size: 0.875em;
  --label-font-size: 0.875em;
  --widget-background-color: #fff;
  --widget-border-color: gray;
  --widget-border-radius: 6px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

@keyframes pulse {
  50% {
    transform: scale(0.8);
  }
}
